@import "mixins"

body, html
  margin 0
  height 100%
  width 100%
  padding 0

.audioPlayer
  text-align center
  color white

.replay
  background-color green
  height 38px
.numbers
  width 100%

span
  width 9.8%
  height 38px
  border thin solid gray
  display inline-block
  text-align center

.incorrect
  color black
  background-color red

.correct
  color white
  background-color green

